*{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 

}
.chat-message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 60%;
}
.user-message {
    background: #3aaaff59; 
    align-self: flex-end;
    border-bottom-right-radius: 0; /* Adjust if necessary */
    font-size: 1.2rem;
}
  
.incoming-message {
    background: #ffffff;
    align-self: flex-start;
    border-bottom-left-radius: 0;
    font-size: 1.2rem;
    border: 1px solid #d4d4d4;
}

.message-input input:focus {
   outline: none;
}
.message-input input {
    flex: 1 1;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    font-size: 1.3rem;
    color: #5b5b5b;
}
.message-input button {
    padding: 10px;
    margin: 10px;
} 
.chat-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    height: 83vh;
    margin-top: 90px;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    ms-overflow-style: none;  
    scrollbar-width: none;
}
.messages-container::-webkit-scrollbar { 
    display: none; 
  }
.input-field {
  flex-grow: 1;
  padding: 10px;
  margin: 10px 0 10px 10px; 
  border-radius: 6px;
  border: 1px solid #8080808a;
  font-size: 1.3rem;
}
.send-button {
  margin: 10px;
  color: #8080808a; 
}
.send-button:hover {
  color: #606060; 
}
.message-input {
    display: flex;
    position: fixed;
    bottom: 9px;
    width: 60%;
    left: 20%;
    right: 20%;
    text-decoration: none;
    align-items: center;
    background-color: #f7f7f7;
    color: #5b5b5b;
    border-bottom: 2px solid blue;
}
.input-field {
    flex-grow: 1;
    padding: 10px 10px;
    margin-left: 10px; 
    border: none; 
    background-color: inherit; 
    color: #fff; 
    font-size: 1.3rem;
}
.input-field:focus {
outline: none;
}
.send-button {
margin-right: 10px; /* Adjusted margin */
}
.send-button:hover {
color: #606060; /* Darker shade on hover */
}

.link{
    color: #7c7cfb;
    text-decoration: underline;
}


.chat-message {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.chat-message pre {
    white-space: pre-wrap; 
}
.chat-message {
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo{
    position: absolute;
    width: 100px;
    top: 20px;
    left: 100px;
}
.bold {
    font-weight: 700;
    margin-top: 20px;
}